<h1>Question Page</h1>

<p>Question asked: <%= @question.query %></p>
<p>Asked by <%= @question.sender.email %></p>
<p>Directed to <%= @question.recipient.email %></p>
<p>State: <%= @question.state %></p>
<p>Amount <%= number_to_currency(@question.price) %></p>

<header>
  <h3>Answer</h3>
</header>


<% if @question.recipient == current_user && @question.answer.response.nil? %>
  <%# render "answers/form", question: @question, answer: @answer %>
  <%= link_to "Answer this question", new_question_answer_path(@question) %>
<% end %>
<% if @question.answer.response %>
  <p>answered! Response...</p>
  <%= @question.answer.response %>
<% else %>
  <p>Hasn't been answered yet</p>
<% end %>