<p id="notice"><%= notice %></p>

<h1>Lectures</h1>
  <% @lectures.each do |lecture| %>
    <h4><%= link_to lecture.title, lecture %></h4>
    <p><%= link_to lecture.user.name, user_path(lecture.user) %></p>
    <p><%= sanitize(lecture.content) %></p>
  <% end %>

<%= link_to 'New Lecture', new_lecture_path %>
