<h1>User Profile for <%= @user.email %></h1>

<%# link_to "New question", new_question_path %>

<p>recipient id: <%= @user.id %></p>
<% if current_user %>
  <p>sender id: <%= current_user.id %></p>
<% end %>

<% if @user == current_user %>
  <p>This is your profile, answer questions here</p>
<% else %>
  <%= render "questions/form", question: @question %>
<% end %>

<h4>Questions you've answered</h4>
<% @user.is_recipient_for.each do |question| %>
  <p><%= question.query %></p>
<% end %>

<h4>Questions you've asked</h4>
<% @user.is_sender_for.each do |question| %>
  <p><%= question.query %></p>
<% end %>