<h1>All</h1>
<ul>
  <% @all_items.each do |item| %>
    <li>
      <div class="question">
        <% if item.is_a?(Question) %>
          <h4><%= link_to item.query, item %></h4>
          <p><%= image_tag item.recipient.profile_pic_url(:thumb) %></p>
          <p><%= link_to item.recipient.name, user_path(item.recipient) %></p>
          <p><%= has_answer(item) %></p>
        <% else %>
          <h4><%= link_to item.title, item %></h4>
          <p><%= image_tag item.user.profile_pic_url(:thumb) %></p>
          <p><%= link_to item.user.name, user_path(item.user) %></p>
          <p><%= truncate(strip_tags(item.content), length: 200,
            separator: ' '){ link_to "(read more)", item } %></p>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>


